* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}


html {
    font-family: 'Poppins', sans-serif;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06283D;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background-color: white;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    font-family: "Roboto", sans-serif;
    transition: 0.6s ease-out;
}

.box-busca{
    width: 100%;
    height: min-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-busca input{
    color: #06283D;
    width: 80%;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 32px;
}

.box-busca input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}

.box-busca button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #06283D;
    background-color: #dff6ff;
    border-radius: 50%;
    font-size: 22px;
    transition: 0.4s ease;
}

.box-busca button:hover{
    color: white;
    background-color: #06283D;
}

.box-busca i{
    position: absolute;
    color: #06283D;
    font-size: 28px;
}

.box-tempo{
    text-align: center;
}

.box-tempo img{
    width: 60%;
    margin-top: 30px;
}

.box-tempo .temperatura{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;
    margin-left: -16px;
}

.box-tempo .temperatura span{
    position: absolute;
    margin-left: 4px;
    font-size: 1.5rem;
}

.box-tempo .descricao{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;
}

.tempo-detalhes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.tempo-detalhes .umidade, .tempo-detalhes .vento{
    display: flex;
    align-items: center;
    width: 50%;
    height: 100px;
}

.tempo-detalhes .umidade{
    padding-left: 20px;
    justify-content: flex-start;
}

.tempo-detalhes .vento{
    padding-right: 20px;
    justify-content: flex-end;
}

.tempo-detalhes i{
    color: #06283D;
    font-size: 26px;
    margin-right: 10px;
    margin-top: 6px;
}

.tempo-detalhes span{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
}

.tempo-detalhes p{
    color: #06283D;
    font-size: 14px;
    font-weight: 500;
}

.not-found{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img{
    width: 70%;
}

.not-found p{
    color: #06283D;
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}

.box-tempo, .tempo-detalhes{
    scale: 0;
    opacity: 0;
}

.fade-in{
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}


@keyframes fadeIn{
    to{
        scale: 1;
        opacity: 1;
    }
}